<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Agregar usuarios</title>
	<link rel="stylesheet" type="text/css" href="../styles/AgregarUsuarios.css">
	<link rel="icon" type="text/css" href="../images/logo.png">
</head>


<body>
<div class="container">

    <form id="signup" action="/agregarUsuarios">

        <div class="header">
        
            <h3>Registro</h3>
            
            <p>Por favor complete los datos</p>
            
        </div>
        
        <div class="sep"></div>
        
        <div class="inputs">
        
            <input type="text" placeholder="Nombre" autofocus id="NombreUsuario" />

            <input type="text" placeholder="Apellido" autofocus id="ApellidoUsuario" />

        	<input type="text" placeholder="DNI" maxlength="8" id="DniUsuario" />

            <input type="password" placeholder="Contraseña" id="ContraseñaUsuario" />
            
            <a id="submit" href="#">Agregar Usuario</a>
            <input type="submit" name="submit" value="sumbit">
        
        </div>

    </form>

</div>
​
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.js" ></script>
  

</body>
</html>