<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Solicitudes</title>
    <link rel="stylesheet" type="text/css" href="/styles/solicitudes.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">  
    <link rel="icon" type="text/css" href="../Images/logo.png">
</head>


<body>
<div class="container">

    <form id="signup" method="POST" action="/solicitudesAdm" >

        <div class="header">
        
            <h3>Solicitudes</h3>

            <p>Por favor seleccione el aula con la que desea interactuar</p>
                
        </div>
        
        <div class="sep"></div>

        <div class="inputs">

        <select name="ListaAulas" id="ListaAulas"></select>
        <label id=""></label> 
        
        <input type="submit" value="Aceptar" id="submit" onclick="enviar('aceptar');refresh()">
        <input type="submit" value="Rechazar" id="submit" onclick="enviar('rechazar');refresh()">
        
        </div>

    </form>

</div>
​<a id="Cerramos" href="/login">Cerrar sesion</a>
</body>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
  <script>
    var miSelect=document.getElementById("ListaAulas");
    // Creamos un objeto option
    var miOption=document.createElement("option");
    // Añadimos las propiedades value y label
    miOption.setAttribute("value","1");
    miOption.setAttribute("label","casa");
    // Añadimos el option al select
    // miSelect.appendChild(miOption);
    var listaAulas = $('#ListaAulas');
    function enviar(action){
        $.post('/solicitudesAdm',{
            accion: action, 
            aula: listaAulas.val()
        });
        alert("solcitud enviada");
        console.log("a");
    }
        $.get('/solicitud',function(result){
            if(result == ""){
                alert("No hay ninguna solcisitud pendiente, espere y lugo recarge la pagina"); 
            }else
            { 
            alert(result);
            for(var i = 0; i<result.length; i++){
             $('#ListaAulas').append('<option id=”opcion1″ value='+result[i]+'>'+result[i]+'</option>');
            }
        }
    });
    var int=self.setInterval("refresh()",60000);
	function refresh()
	{
        alert('Precione aceptar para que se recarge la pagina');
        window.location.replace('/solicitudesAdm');
	}
     </script>
  <script type="text/javascript" src="../public/scripts/solicitud.js"></script>

  

</body>
</html>
