<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Solicitudes</title>
    <link rel="stylesheet" type="text/css" href="./styles/solicitudes.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity= "sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz crossorigin="anonymous">
    <link rel="icon" type="text/css" href="../Images/logo.png">
</head>


<body>
<div class="container">

    <form id="signup">

        <div class="header">
        
            <h3>Solicitudes</h3>

            <p>Por favor seleccione el aula con la que desea interactuar</p>
                
        </div>
        
        <div class="sep"></div>

        <div class="inputs">

        <select name="ListaAulas" id="ListaAulas">
                <option value="Vacio">Seleccione un Aula</option>
                <option value="L1">LABORATORIO 1</option>
                <option value="L2">LABORATORIO 2</option>
                <option value="L3">LABORATORIO 3</option>
                <option value="L208">AULA 208</option> 
                <option value="L209">AULA 209</option> 
                <option value="L213">AULA 213</option>
          </select>

        
        <input type="submit" value="Aceptar" id="submit">
        <input type="submit" value="Rechazar" id="submit">
        
        </div>

    </form>

</div>
​<a href="/login" > Cerrar Sesión <i class="fa fa sign-out-alt"> <i> </a>
</body>


  <script type="text/javascript" src="../public/scripts/solicitud.js"></script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>

</body>
</html>