body {
display: flex;
background-image: url(../images/aula.jpg);
background-repeat: no-repeat;
background-size: cover;
}
div.caja{
	max-width:80%;
	margin: 2em auto 1em 0em;
    width: 33%;
	display: flex; 
    background-color: rgba(100,100,100,0.6);
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
select#Listadias{
	padding: 1em;
	padding-right: 1em;
	width: 80%;
	background: #e0e0e0;
	border: 1px solid;
	margin: 2em 0;
	border-radius: 8px;
}
select#Listabloques{
	padding: 1em;
	padding-right: 1em;
	width: 80%;
	background: #e0e0e0;
	border: 1px solid;
	margin: 2em 0;
	border-radius: 8px;
}

img#logaso{
	
}